.row.align-items-center
  .col.col-md
    h2.on-white-header
      | A large collection of apps
    p.on-white-text
      | Ubuntu Touch comes pre-installed with a set of solid core apps that cover your daily needs, and many more can easily be downloaded for free. All applications follow the same design guidelines and provide a familiar look-and-feel.
    .item-center
      a.button.btn.btn-primary.btn-xl(href="/apps")
        | Discover apps...
  .col.col-md
    img.item-center.square-img.rounded(src="/img/icones.svg")
