.row.align-items-center
  .col.col-md
    h2.on-white-header
      | Community-driven
    p.on-white-text
      | Most Ubuntu Touch development is done by volunteers from the community, but you don't need to know how to write code to help shape the project. Translation, design, quality assurance, community management - there are countless of ways to get involved in our amazing community!
    .item-center
      a.button.btn.btn-primary.btn-xl(href="https://ubports.com/join-us")
        | Get involved!
  .col.col-md
    img.item-center.wide-img.rounded.shadow(src="/img/ubuntu-community-2.jpg")
