.row.align-items-center
  .col.col-md
    h2.on-white-header
      | Beautiful
    p.on-white-text
      | Ubuntu Touch has been designed with obsessive attention to detail. Form follows function throughout, from the ever-changing welcome screen to essentials like messaging and alarms. And the Launcher puts it all at your fingertips, whatever you’re doing with your phone.
    .item-center
      a.button.btn.btn-primary.btn-xl(href="/design")
        | Learn more...
  .col.col-md
    img.item-center.wide-img.rounded(src="/img/next.png")
