.row.align-items-center
  .col.col-md-6(style="padding-bottom: 20px")
    img.item-center.wide-img.rounded.shadow(src="/img/ubuntu-community.jpg")
  .col.col-md-6
    h2.on-orange-header
      | For everyone
    p.on-orange-text
      | Freedom means not being restricted. That is why Ubuntu Touch comes with a fully-featured Ubuntu Terminal pre-installed. But that does not mean that you have to have be an elite hacker to use Ubuntu Touch. The user interface is designed with usability in mind and its intuitive controls make everyone feel at home.
    .item-center
      a.btn-lg.btn.btn-default.btn-white(href="/design")
        | Learn more...
