.row.align-items-center
  .col.col-md-6(style="padding-bottom: 20px")
    img.item-center.wide-img.rounded.shadow(src="/img/freedom.jpg")
  .col.col-md-6
    h2.on-orange-header
      | Free as in freedom
    p.on-orange-text
      | All our software is provided free-of-charge and ad-free and is released under free-software-licenses that respect your freedom to use, study, modify and share the software. Even if you don't know how to read and write code this system ensures that all of our software is written in your best interest.
    p.on-orange-text
      | When it comes to your freedom, we don't compromise! That is why we even release the source-code for all of our services and encourage all #[a(href='/apps') third-party app] developers on the #[a(href='https://open.uappexplorer.com', target='_blank') OpenStore] to do the same.
