.row.align-items-center
  .col.col-md
    h2.on-white-header
      | Open-Source
    p.on-white-text
      | We are of course not the only project that shares their source code. There are millions of open-source developers around the world! By improving each others software and building on what's already been accomplished, together we can achieve greatness!
    .item-center
      a.button.btn.btn-primary.btn-xl(href="https://github.com/ubports", target="_blank")
        | Visit us on GitHub
  .col.col-md
    img.item-center.square-img.rounded(src="/img/osi.png")
