.row
  .col.col-md-6
    img.item-center.square-img.rounded.shadow(src="/img/convergemeplease.gif")
  .col.col-md-6
    h2.on-orange-header Convergence in mind
    p.on-orange-text
      | Ubuntu Touch was created to converge the worlds of mobile- and desktop-computing, and that's also true for its applications. All apps are created with convergence in mind and can automatically adapt to screens from the smallest phone to the biggest tablet, and even work in window-mode on the desktop.
