.row.align-items-center
  .col.col-md-6
    h2.on-white-header A solid core
    p.on-white-text
      | Ubuntu Touch comes pre-installed with a set of solid core apps that cover your daily needs. This includes everything you expect from a phone, like a dialer, contacts and calendar, but since it's Linux, the OS comes with a fully-featured file browser and terminal (including essential command-line applications) as well.
  .col.col-md-6
    img.item-center.square-img.rounded(src="/img/icones.svg")
    // TODO replace image with something actually nice to look at
