.row.align-items-center
  .col.col-md-6
    h2.on-white-header A solid core
    p.on-white-text
      | Ubuntu Touch comes pre-installed with a set of solid core apps that cover your daily needs. This includes everything you expect from a phone, like a dialer, contacts and calendar, but since it's Linux, the OS comes with a fully-featured file browser and terminal (including essential command-line applications) as well.
  .col.col-md-6
    img.item-center.square-img.rounded(src="/img/icones.svg")
    // TODO replace image with something actually nice to look at
.row.align-items-center
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/telegram.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/terminal.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/yumi.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/camera.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/clock.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/docviewer.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/files.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/address-book.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/messaging.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/dialer.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/weather.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/webbrowser.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/gallery.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/mediaplayer.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/sudoku.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/calendar.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/notes.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/calculator.png)' src="/img/ubuntu-shape.png")
