.row.align-items-center
  .col.col-md-6
    img.item-center(class='ubuntu-icon', style='background-image: url(/img/apps/dekko.png)' src="/img/ubuntu-shape.png")
  .col.col-md-6
    h2.on-white-header E-Mail
    p.on-white-text
      | #[a(href='http://dekkoproject.org/', target='_blank') Dekko] is a convergent e-mail client for Ubuntu Touch, that works with Gmail and Outlook accounts or any custom IMAP server.
    .item-center
      a.button.btn.btn-primary.btn-xl(href="https://open.uappexplorer.com/app/dekko2.dekkoproject", target="_blank")
        | Download
