.row.align-items-center
  .col.col-md-6
    img.item-center.square-img.rounded(src="/img/apps-fan.jpg")
  .col.col-md-6
    h2.on-orange-header Seamless integration
    p.on-orange-text
      | Ubuntu Touch provides a continuous user experience. Thanks to Qt Quick Controls and the Ubuntu UI toolkit, all applications provide a familiar look-and-feel, so you can immediately feel at home whatever you install.
    .item-center
      a.btn-lg.btn.btn-default.btn-white(href="https://docs.ubports.com/en/latest/appdev/index.html")
        | Create apps
