p.on-white-text.text-center
  | Ubuntu Touch offers everything you need. All kinds of applications are available. Apps for communication, messaging, music, administration, navigation, tools, games and a lot more.  The OS comes pre-installed with a set of important and solid core apps that cover most of your daily needs.
p.on-white-text.text-center
  | This includes everything you expect from a phone, like a dialer, contacts and calendar, but since it's Linux, the OS comes with a fully-featured file browser and terminal (including essential command-line applications) as well.
