.row.align-items-left
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/telegram.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/terminal.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/yumi.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/camera.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/clock.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/docviewer.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/files.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/address-book.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/messaging.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/dialer.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/weather.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/webbrowser.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/gallery.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/mediaplayer.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/sudoku.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/calendar.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/notes.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/calculator.png)' src="/img/ubuntu-shape.png")
