.row.align-items-left
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/apps/telegram.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/apps/terminal.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/apps/yumi.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/apps/camera.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/apps/clock.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/apps/docviewer.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/apps/files.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/apps/address-book.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/apps/messaging.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/apps/dialer.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/apps/weather.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/apps/webbrowser.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/apps/gallery.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/apps/mediaplayer.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/apps/sudoku.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/apps/calendar.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/apps/notes.png)' src="/img/ubuntu-shape.png")
  img.item-center(class='ubuntu-icon-small', style='background-image: url(/img/apps/calculator.png)' src="/img/ubuntu-shape.png")
