.row.align-items-center
  .col.col-md-6
    h2.on-white-header Fun
    p.on-white-text
      | #[a(href='https://open.uappexplorer.com/app/com.ubuntu.developer.mzanetti.machines-vs-machines', target='_blank') Machines vs Machines] - a free and open-source classic tower defense game exclusive on Ubuntu Touch
    .item-center
      a.button.btn.btn-primary.btn-xl(href="https://open.uappexplorer.com/app/com.ubuntu.developer.mzanetti.machines-vs-machines", target="_blank")
        | Download
  .col.col-md-6
    img.item-center(class='ubuntu-icon', style='background-image: url(/img/apps/machines-vs-machines.svg)' src="/img/ubuntu-shape.png")
