.row.align-items-center
  .col.col-md-6
    img.item-center(class='ubuntu-icon', style='background-image: url(/img/apps/podbird.png)' src="/img/ubuntu-shape.png")
  .col.col-md-6
    h2.on-white-header Podcasts
    p.on-white-text
      | #[a(href='https://open.uappexplorer.com/app/com.mikeasoft.podbird', target='_blank') Podbird] lets you easily search for new podcasts, and either stream them or download them for offline listening.
    .item-center
      a.button.btn.btn-primary.btn-xl(href="https://open.uappexplorer.com/app/com.mikeasoft.podbird", target="_blank")
        | Download
