h1.splash-text Everything you need...
h3.text-center ...and so much more!
img.item-center.splash-img(src="https://web.archive.org/web/20160811224322im_/https://assets.ubuntu.com/v1/12b46991-apps-grid.png?w=480")
