.banner-text
  h1.splash-text.text-shadow(style="color: white; -webkit-text-stroke: 3px black;") Everything you need...
  h3.text-center.text-shadow(style="color: white; -webkit-text-stroke: 1px black;") ...and so much more!
