html {
  height: 100%;
  width: 100%;
}
body {
  background: #fff;
  font-family: "Ubuntu", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  color: #787878;
}
.content {
  margin-top: 70px;
}
a {
  color: #e95420;
  text-decoration: none;
  background-color: transparent;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:focus {
  color: #ac3911;
  text-decoration: underline;
}
.btn {
  border-radius: 0 !important;
  border-color: #787878 !important;
}
.btn-white {
  color: #fff;
  border-color: #fff !important;
}
.btn-white:hover,
.btn-white:focus {
  color: #e2e2e2;
}
.installer-btn {
  text-align: center;
}
.btn-xl {
  background-color: #e95420;
  border: 0px;
  padding: 18px 28px;
  font-size: 20px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.btn-xl-black {
  background-color: #000;
  border-color: #000;
  padding: 18px 28px;
  font-size: 20px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.unavbar {
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-top: 2px;
  color: #777 !important;
  font-weight: bold;
}
.navbar-brand {
  color: #777 !important;
  font-weight: bold;
}
.navbar-brand-button {
  background: transparent;
  width: 40px;
  height: 30px;
  line-height: 40px;
  float: left;
  cursor: pointer;
  border: none;
  position: relative;
}
.navbar-brand-image {
  height: 40px;
  margin-top: -3px;
  margin-left: 5px;
  z-index: 100;
}
.app-banner {
  margin-top: -70px;
  background-image: url("http://188.226.166.211/web/image/1526/banner-apps-overview.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 370px;
}
.background-shadow {
  background-color: rgba(0,0,0,0.35);
  padding-bottom: 10px;
}
.devices-banner {
  margin-top: -70px;
  background-image: url("/img/banner-core-devices.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 370px;
}
.splash-banner {
  color: #fff;
  margin-top: -20px;
  background-image: url("/img/banner-core-devices.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 700;
  padding-top: 200px;
  padding-bottom: 50px;
}
.devices-banner {
  margin-top: -70px;
  background-image: url("/img/ubuntu-touch-devices-wide.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 370px;
}
.privacy-banner {
  margin-top: -70px;
  background-image: url("/img/safe-met-logo-bordA.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 370px;
}
.design-banner {
  margin-top: -150px;
  background-image: url("/img/ubuntu-touch-breakfast.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 130px;
  padding-bottom: 50px;
  min-height: 450px;
}
.fun-banner {
  margin-top: -70px;
  background-image: url("/img/fairphone-2-ubuntu-touch-wide.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 370px;
}
.banner-text {
  margin-top: 40px;
}
.orange {
  margin-top: 30px;
  background-image: url("http://188.226.166.211/web/image/1184/UBUNTU%20desert%20file.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
}
.orange-background {
  background-image: url("http://188.226.166.211/web/image/1184/UBUNTU%20desert%20file.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.white {
  margin-top: 30px;
  background-color: #fff;
  padding-bottom: 50px;
  padding-top: 50px;
}
.light-grey {
  margin-top: 30px;
  background-color: #f8f8f8;
}
.gray {
  margin-top: 30px;
  background-color: #4d4d4d;
  padding-top: 50px;
  padding-bottom: 50px;
}
.black {
  margin-top: 30px;
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer {
  padding-bottom: 10px;
  color: #777 !important;
  font-weight: bold;
}
.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* Support for responsive iframes */
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56% /* The height of the item will now be 56% of the width. */;
}
/* More support for responsive iframes */
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.on-orange-header {
  color: #fff;
  font-size: 34pt;
  text-align: center;
  margin-bottom: 35px;
}
.on-white-header {
  font-size: 34pt;
  text-align: center;
  margin-bottom: 35px;
}
.on-orange-text {
  color: #fff;
  margin-bottom: 20px;
  font-size: 16pt;
}
.on-orange-text a:link {
  color: #000;
}
.on-orange-text a:visited {
  color: #000;
}
.on-orange-text a:hover {
  color: #000;
}
.on-orange-text a:active {
  color: #000;
}
.on-white-text {
  margin-bottom: 20px;
  font-size: 16pt;
}
.on-white-text a:link {
  color: #e95420;
}
.on-white-text a:visited {
  color: #e95420;
}
.on-white-text a:hover {
  color: #ac3911;
}
.on-white-text a:active {
  color: #e95420;
}
.fa-space {
  margin-left: 4px;
}
.footer-img {
  max-width: 150px;
}
.footer-text-header {
  color: #333;
  font-family: "Ubuntu", "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.footer-link {
  display: block;
}
.footer-block {
  padding-bottom: 16px;
  padding-top: 16px;
}
.block {
  display: block;
}
.shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.wide-img {
  width: 97%;
  min-width: 320px;
}
.tall-img {
  width: 45%;
  min-width: 320px;
}
.square-img {
  width: 64%;
  min-width: 320px;
}
.splash-img {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  min-width: 320px;
}
.splash-text {
  text-align: center;
  font-size: 50pt;
}
.itemName {
  text-align: center;
}
.itemImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.panels {
  min-height: 440px;
  max-height: 440px;
}
p {
  font-size: 14px;
}
.team-panel {
  height: 200;
}
.text-center {
  text-align: center;
}
.item-center {
  margin: auto;
  justify-content: center;
  display: flex;
}
.background-green {
  background-color: #3fb24f;
}
.background-red {
  background-color: #fc4949;
}
.background-orange {
  background-color: #dd4814;
}
.background-purple {
  background-color: #762572;
}
.background-blue {
  background-color: #1ab6ef;
}
.background-lightgrey {
  background-color: #888;
}
.background-darkgrey {
  background-color: #5d5d5d;
}
.background-white {
  background-color: #f5f5f5;
}
.text-green {
  color: #3fb24f;
}
.text-red {
  color: #fc4949;
}
.text-orange {
  color: #dd4814;
}
.text-purple {
  color: #762572;
}
.text-blue {
  color: #1ab6ef;
}
.text-lightgrey {
  color: #888;
}
.text-darkgrey {
  color: #5d5d5d;
}
.text-white {
  color: #f5f5f5;
}
