.row.align-items-center
  .col.col-md-6(style="padding-bottom: 20px")
    img.item-center.wide-img(src="/img/edges.png")
  .col.col-md-6
    h2.on-white-header Elegant and innovative
    ol.on-white-text
      li Top edge swipe reveals the indicator menu that contains settings and notifications when swiping down.
      li Short left edge swipe reveals favorited and frequently used apps from the launcher menu.
      li Long left edge swipe takes you back to the app screen (shows all the installed apps) when you are inside an application.
      li Short right edge swipe reveals the previous app used.
      li Long right edge swipe reveals an app stack to show all the apps that are currently open; like a stack of cards.
