.row.align-items-center
  .col.col-md-6(style="padding-bottom: 20px")
    img.item-center.tall-img.rounded.shadow(src="/img/screenshots/design.png")
  .col.col-md-6
    h2.on-orange-header Elegant and innovative
    p.on-orange-text
      | The intuitive user interface allows you to access all of your phones features by swiping from the edges of the screen to access your apps, tools and settings all with one hand and no on-screen buttons.
    .item-center
      a.btn-lg.btn.btn-default.btn-white(href="/features")
        | Learn more...
