.row.align-items-center
  .col
    h2.on-white-header
      | Meet the side-stage
    p.on-white-text
      | Our side-stage allows you to make the most of your tablets screen-size. Run two applications side-by-side to take notes while browsing the web or look something up while in a video call!
  .col
    img.item-center.wide-img(src="/img/ubuntu-touch-side-stage.jpg")
