.row.align-items-center
  .col
    h2.on-white-header
      | Simple and beautiful
    p.on-white-text
      | Ubuntu Phone includes all the smartphone essentials, crafted with breathtaking attention to detail. From edges that enable you to navigate faster to details like the striking clock face, nothing has been overlooked in the quest for mobile perfection.
  .col
    img.item-center.wide-img(src="/img/devices/bq-m10-ubuntu-touch-landscape.png")
