.row.align-items-center
  .col
    h2.on-white-header
      | From the community for the community
    p.on-white-text
      | Ubuntu Touch is made possible by the generous #[a(href='https://ubports.com/donate', target='_blank') donations] from our  #[a(href='https://ubports.com/sponsors', target='_blank') amazing sponsors]. This funding has allowed us to hire developers for some of the work, but we would not be anywhere without our great #[a(href='https://ubports.com/get-involved', target='_blank') community contributors].
    .item-center
      a.button.btn.btn-primary.btn-xl(href="https://ubports.com/get-involved", target="_blank")
        | Get involved!
  .col
    img.item-center.wide-img.rounded.shadow(src="/img/team.jpeg")
