.row.align-items-center
  .col.col-md-6(style="padding-bottom: 20px")
    img.item-center.wide-img.rounded.shadow(src="/img/screenshots/window-mode.jpg")
  .col.col-md-6
    h2.on-orange-header Window-mode
    p.on-orange-text
      | When two applications next to each other are not enough, you can switch to window-mode to unleash the full potential of your applications. You can even add a mouse and keyboard and connect your device to an external monitor!
    .item-center
      a.btn-lg.btn.btn-default.btn-white(href="/convergence")
        | Learn more...
