.row
  .col.col-md-6
    img.item-center.wide-img.rounded.shadow(src="/img/ubpi.jpg")
  .col.col-md-6
    h2.on-white-header
      | Installing Ubuntu Touch is Easy
    p.on-white-text
      |  With the UBports installer, you can get Ubuntu Touch on your device without breaking a sweat. You can use any computer to run the installer. Simply plug in your device and follow the on-screen instructions. Then sit back and let your computer do all the work.
    p.on-white-text
      | Just choose system and start installing.
