.row
  .col.col-md-6
    h2.on-white-header Having trouble installing Ubuntu Touch on your device?
    p.on-white-text
      | The UBports First Responders team (a group of passionate volunteers) is happy to help you get started. Our team is online all day long. Please reach out to them on Telegram or fill out the contact form.
    .item-center
      a.btn-lg.btn.btn-default(href="https://t.me/ubports") Telegram Helpdesk
  .col.col-md-6
    div(style="margin-top: 20px;" class="aspect-ratio")
      iframe(width="854" height="480" src="//www.youtube.com/embed/zuLFTGkuD68?autoplay=0" frameborder="0" allowfullscreen)
