.row
  .col.col-md-6
    h2.on-orange-header Having trouble installing?
    p.on-orange-text
      | Our community is worldwide, so chances are that someone will be available to help if you experience any trouble installing. Either click the button below or join us at #ubports on Freenode to get in touch.
    .item-center
      a.btn-lg.btn.btn-default.btn-white(href="https://t.me/ubports") Telegram community
  .col.col-md-6
    div(style="margin-top: 20px;" class="aspect-ratio")
      iframe(width="854" height="480" src="//www.youtube.com/embed/zuLFTGkuD68?autoplay=0" frameborder="0" allowfullscreen)
