h3.text-center
  | Install Ubuntu Touch on Your Device
.row(style="margin-top: 20px")
  .col.col-lg-4.text-center
    span.fa.fa-linux.fa-5x(style="margin-bottom: 13px")
    br
    a.btn-lg.btn.btn-default(href="https://github.com/ubports/ubports-installer/releases/latest") Download install for Linux
  .col.col-lg-4.text-center
    span.fa.fa-windows.fa-5x(style="margin-bottom: 13px")
    br
    a.btn-lg.btn.btn-default(href="https://github.com/ubports/ubports-installer/releases/latest") Download install for Window
  .col.col-lg-4.text-center
    span.fa.fa-apple.fa-5x(style="margin-bottom: 13px")
    br
    a.btn-lg.btn.btn-default(href="https://github.com/ubports/ubports-installer/releases/latest") Download install for Mac OSX
