.banner-text
  h1.splash-text.text-shadow(style="color: white; -webkit-text-stroke: 3px black;") Install Ubuntu Touch
  h3.text-center.text-shadow(style="color: white; -webkit-text-stroke: 1px black;") Use our installer to flash your device
