.row
  .col.col-md-8
    p.device-header= data.device.name
  .col.col-md-4.text-center

p.
.row
  .col.col-md-8
    .card
      .card-header About this device
      .card-body
        :markdown-it(linkify langPrefix='highlight-')
          # This is magic!
    .text-center(style="margin-top: 15px")
      a.button.btn.btn-primary.btn-xl(type="button", href="/install") Install Ubuntu touch
    .card(style="margin-top: 20px")
      .card-header Donate
      .card-body
        .row
          .col.col-lg-3.text-center
            span.fab.fa-paypal.fa-5x(style="margin-bottom: 13px")
            br
            a.btn.btn-default(href="https://github.com/ubports/ubports-installer/releases/latest") PayPal
          .col.col-lg-3.text-center
            span.fab.fa-bitcoin.fa-5x(style="margin-bottom: 13px")
            br
            a.btn.btn-default(href="https://github.com/ubports/ubports-installer/releases/latest") Bitcoin
          .col.col-lg-3.text-center
            img(style="margin-bottom: 13px; width: 80px; height: 80px;", src="/img/lp-grey.png")
            br
            a.btn.btn-default(href="https://github.com/ubports/ubports-installer/releases/latest") Librepay
          .col.col-lg-3.text-center
            span.fab.fa-patreon.fa-5x(style="margin-bottom: 13px")
            br
            a.btn.btn-default(href="https://github.com/ubports/ubports-installer/releases/latest") Patreon

  .col.col-md-4.text-center
    img(src="/img/meizu-pro5-ubuntu-touch.png")
