img(src="img/UBports-Logo-Trans.png" align="right" style="margin-top: 20px;" class="img-rounded")

h2 What is The UBports Project?

p UBports is an international community of developers and users who wish to keep Ubuntu Touch alive. 
a(href="https://ubports.com") learn more about UBports here
