.row
  .col.col-md-6
    img.item-center.installer-img.img-rounded(src="/img/base.png")
  .col.col-md-6
    h2.on-orange-header Built on Ubuntu
    p.on-orange-text
      | Ubuntu touch is built on top of Ubuntu, this means we have a rock solid base. Etiam at metus nec justo sagittis eleifend. Vestibulum lacus mi, porttitor ac blandit a, aliquet eu dolor. Cras laoreet maximus lacus vitae convallis. Integer luctus imperdiet velit, a gravida arcu hendrerit a. 
