.row
  .col.col-md-6(style="padding-bottom: 20px")
    img.item-center.tall-img.rounded.shadow(src="/img/base.png")
  .col.col-md-6
    h2.on-orange-header
      | Built on Ubuntu
    p.on-orange-text
      | Ubuntu Touch is built on #[a(href='https://ubuntu.com', target ='_blank') Ubuntu], which provides us with a secure and stable base system #[a(href='https://insights.ubuntu.com/2016/04/07/ubuntu-is-everywhere/', target='_blank') used by millions] across personal computers, servers, IoT devices and even the international space station.
