.row
  .col.col-md-6
    h2.on-white-header By people like you
    p.on-white-text
      | Ubuntu touch is build by and for the community. Based on Ubuntu, GNU, the Linux Kernel and other free and open-source Software, Ubuntu Touch does not lock you in a closed ecosystem. We want to use Linux on our phones without needing a Google or Apple account. Period. Praesent in tincidunt tortor. Suspendisse tempus placerat blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam in nisl metus. 
  .col.col-md-6
    img.item-center.installer-img.img-rounded(src="/img/team.jpeg")
