.row
  .col.col-md-6
    img.item-center.tall-img.rounded.shadow(src="/img/design.png")
  .col.col-md-6
    h2.on-orange-header Elegance in design
    p.on-orange-text
      | Ubuntu Touch offers a completely different approach to using your smartphone or tablet than using say Android or iOS. The intuitive user interface allows you to access all of your phones features by swiping from the edges of the screen to access your apps, tools and settings all with one hand and no on-screen buttons. It looks great and feels smooth.
