.row
  .col.col-md-6
    h2.on-white-header Ready for the future
    p.on-white-text
      | convergence Quisque eget malesuada risus. Aenean vulputate libero ut neque maximus consectetur. Vivamus pretium, nisl et vestibulum egestas, libero erat mattis sem, sed semper ipsum diam in tortor. Phasellus ligula leo, egestas at nulla ac, convallis sagittis lectus. Donec in hendrerit justo. In gravida nibh at dictum sodales. Nam at lectus sit amet turpis lacinia blandit at in lacus. Donec hendrerit placerat purus, quis porta felis euismod ut.
  .col.col-md-6
    img.item-center.installer-img.img-rounded(src="/img/next.png")
