h1.splash-text Ubuntu Touch
h4(style="text-align: center;") Provided by the UBports community
h3.text-center A simple and beautiful mobile operating system for everyone!
img.item-center.splash-img(src="/img/opoub.jpg")
