.row
  .col
    img.item-center.wide-img.rounded.shadow(src="/img/team.jpeg")
  .col
    h2.on-orange-header
      | From the community for the community
    p.on-orange-text
      | Ubuntu Touch is made possible by many generous #[a(href='https://ubports.com/donate', target='_blank') donations] from our  #[a(href='https://ubports.com/sponsors', target='_blank') amazing sponsors]. This funding has allowed us to hire developers for some of the work, but we would not be anywhere without our great #[a(href='https://ubports.com/get-involved', target='_blank') community contributors].
    p.on-orange-text
      | Ubuntu Touch is build by the community for the community! Click #[a(href='https://ubports.com/get-involved', target='_blank') here] to find out how to become one of us.
