.row
  .col
    h2.on-white-header
      | From the community for the community
    p.on-white-text
      | The UBports Project is financed by many generous donations via #[a(href='https://paypal.me/ubports', target='_blank') PayPal], #[a(href='https://patreon.com/ubports', target='_blank') Patreon] and #[a(href='https://ubports.com/sponsors', target='_blank') Bitcoin], as well as #[a(href='https://ubports.com/sponsors', target='_blank') these awesome sponsors]. This funding has allowed us to keep the lights on and hire developers for some of the work, but we would not be anywhere without our great #[a(href='https://ubports.com/get-involved', target='_blank') community contributors].
    p.on-white-text
      | Tasks like #[a(href='https://translate.ubports.com', target='_blank') localization], #[a(href='https://github.com/ubports/ubuntu-touch/issues', target='_blank') quality assurance] and even #[a(href='https://github.com/ubports', target='_blank') development] are handled to a surprising extent by volunteers. Ubuntu Touch is build by the community for the community!
    p.on-white-text
      | Ubuntu Touch is build by the community for the community! Click #[a(href='https://ubports.com/get-involved', target='_blank') here] to find out how to become one of us.
  .col
    img.item-center.wide-img.rounded.shadow(src="/img/team.jpeg")
