.row.align-items-center
  .col.col-md-6(style="padding-bottom: 20px")
    img.item-center.tall-img.rounded.shadow(src="/img/screenshots/design.png")
  .col.col-md-6
    h2.on-orange-header Elegant and innovative
    p.on-orange-text
      | Ubuntu Touch offers a completely different approach to using your smartphone or tablet than Android or iOS. Swipe from the edges of the screen to access your apps, tools, and settings, all with one hand. It looks great and feels smooth.
    .item-center
      a.btn-lg.btn.btn-default.btn-white(href="/features")
        | Learn more...
