.row.align-items-center
  .col.col-md-6
    h2.on-white-header A Mobile Version of the Ubuntu Operating System
    p.on-white-text
      | Ubuntu Touch is the touch-friendly mobile version of #[a(href='https://ubuntu.com', target='_blank') Ubuntu Linux]. Originally designed and developed by #[a(href='https://canonical.com', target='_blank') Canonical], the operating system now lives on in the #[a(href='https://ubports.com') UBports community].
  .col.col-md-6
    div(style="margin-top: 20px;" class="aspect-ratio")
      iframe(width="854" height="480" src="https://www.youtube.com/embed/ekiuY5b-LOA" frameborder="0" allowfullscreen style="min-width: 320px")
