extends components/layout

block content
  .app-banner
    .container
      .background-shadow
        include apps/splash
  .white
    .container
     include apps/info
  .orange
    .container
      include apps/convergence
  .white
    .container
      include apps/coreapps
  .gray
    .container
      include apps/design
  .white
    .container
      .col-md-12.text-center
        h2.on-white-header Find more apps on the OpenStore
        a.button.btn.btn-primary.btn-xl-black(type="button", href="https://uappexplorer.com", target="_blank") #[img(src='/img/openstore.png', width="30px", height="30px", vertical-align="center")] Ubuntu OpenStore
