extends components/layout

block content
  .app-banner
    .container
      .background-shadow
        .banner-text
          h1.splash-text.text-shadow(style="color: white;") Everything you need...
          h3.text-center.text-shadow(style="color: white;") ...and so much more!
  .white
    .container
      include apps/coreapps
  .orange
    .container
      include apps/convergence
  .white
    .container
      include apps/list
  .gray
    .container
      include apps/design
  .white
    .container
      include apps/unav
  .white
    .container
      include apps/dekko
  .white
    .container
      include apps/machines-vs-machines
  .white
    .container
      include apps/podbird
  .white
    .container
      include apps/instantfx
  .white
    .container
      .col-md-12.text-center
        h2.on-white-header Find more apps on the OpenStore
        a.button.btn.btn-primary.btn-xl.btn-xl-black(href="https://uappexplorer.com", target="_blank") #[img(src='/img/openstore.png', width="30px", height="30px", vertical-align="center")] Ubuntu OpenStore
        // FIXME button turns blue on click, should be orange. 
