extends components/layout

block content
  .privacy-banner
    .container(data-role='content')
      .background-shadow
        .banner-text
          h1.splash-text.text-shadow(style="color: white;") Convergence
          h3.text-center.text-shadow(style="color: white;") Transform your phone to fullscreen desktop
  .orange(style="margin-top: 0")
    .container
      include install/easy
  .white
    .container
      include install/install-on-your
  .white
    .container
      include install/help
