extends components/layout

block content
  .everywhere-banner
    .container(data-role='content')
      .background-shadow
        .banner-text
          h1.splash-text.text-shadow(style="color: white;") Convergence
          h3.text-center.text-shadow(style="color: white;") Experience the future of computing!
  .white
    .container
      include convergence/intro
  .gray
    .container
      include convergence/compatibility
  .white
    .container
      .row(style="margin-top: 10px")
        img.item-center.wide-img(src='/img/convergence.svg')
  .orange
    .container
      p.on-orange-text.item-center Please note that convergence-mode and X11-support are experimental features that can not yet fully replace your computer!
  .white
    .container
      include convergence/keyboard
  .orange
    .container
      include convergence/responsiveness
