extends components/layout

block content
  .design-banner
    .container(data-role='content')
      .background-shadow
        .banner-text
          h1.splash-text.text-shadow(style="color: white;") Design
          h3.text-center.text-shadow(style="color: white;") Elegance and simplicity
  .white
    .container
      include design/simplicity
  .orange
    .container
      include design/edges
  .white
    .container
      include design/sidestage
  .orange
    .container
      include design/windows
