extends components/layout

block content
  .design-banner
    .container(data-role='content')
      .background-shadow
        .banner-text
          h1.splash-text.text-shadow(style="color: white;") Design
          h3.text-center.text-shadow(style="color: white;") Beautiful
  .white
    .container
      include design/team
  .orange
    .container
      include design/teaser
  .white
    .container
      include design/welcome
      // Ubuntu Phone includes all the smartphone essentials, crafted with breathtaking attention to detail. From edges that enable you to navigate faster to details like the striking clock face, nothing has been overlooked in the quest for mobile perfection.
