extends layout

block content
  .design-banner
    .container(data-role='content')
      .background-shadow
        include design/splash
  .orange(style="margin-top: 0")
    .container
      include install/easy
  .white
    .container
      include install/install-on-your
  .white
    .container
      include install/help
