extends layout

block content
  .p-strip--image.is-light.is-deep.is-bordered(data-role='content', style="background-image: url('https://ubports.com/web/image/2861');")

  include blocks/devices-core
  include blocks/devices-legacy
  include blocks/ubports-installer