extends layout

block content
  .strip.is-deep
    .row.u-align--center(data-role='content')
      h1(style="font-size: 60px;") Whoooops!
      if error.status === 404
        h2 We couldn't find that page :(
      else
        h2 Something went wrong :(
      h1= error.status
    .row
      pre #{error.stack}
