extends components/layout

block content
  .white
    .container
      .col-md-12.text-center
        h2.on-white-header A Mobile Version of the Ubuntu Operating System
          p.on-white-text
            | Ubuntu Touch is made and maintained by the #[a(href='https://ubports.com') UBports Community], a group of volunteers and passionate people from all around the world. With Ubuntu Touch we offer a truly unique mobile experience - an alternative to the current most popular operating systems on the market. We believe that everyone is free to use, study, share and improve all software created by the foundation without restrictions. Whenever possible, everything is distributed under free and open source licenses endorsed by the Free Software Foundation and the Open Source Initiative.
          img.item-center.installer-img.img-rounded(src="http://188.226.166.211/web/image/1535")
          p.on-white-text
            | Ubuntu Touch is a mobile version of the Ubuntu operating system for mobile devices. However, unlike other 'flavors' of Ubuntu such as Mate, Budgie and Gnome, it is more accurately an extract of parts of Ubuntu. It is adapted to run naturally in a mobile, touch-screen environment but is also capable of functioning as a desktop computer while in "desktop mode". This aforementioned converging of environments from device to device is where the term "Convergence" originates. You can find more technical details on our github page.
