footer.p-footer.p.strip.u-no-margin--top(style="border-top: 0;")
  .row
    .col-7
      p
        | This site is maintained by the 
        a(href='https://ubports.com/page/website.aboutus') UBports Team
        |  and is not an any way endorsed by or affiliated with
        a(href='http://ubuntu.com/')  Ubuntu
        |  or
        a(href='http://www.canonical.com/')  Canonical
        | .
      p
        a(href='http://ubuntu.com/')  Ubuntu
        |  and
        a(href='http://www.canonical.com/')  Canonical
        |  are registered trademarks of
        a(href='http://www.canonical.com/')  Canonical Ltd.
      p
        | #[a(href="https://github.com/ubports/ubuntu-touch.io") Edit this page] or #[a(href="https://github.com/ubports/ubuntu-touch.io/issues") report a bug]
    .col-5
      ul.p-inline-list.u-align--right
        li.p-inline-list__item.p-heading--four
          a.p-link--soft(href="https://twitter.com/ubports")
            span.fa.fa-twitter.fa-space.u-no-margin
        li.p-inline-list__item.p-heading--four
          a.p-link--soft(href="https://t.me/ubports")
            span.fa.fa-telegram.fa-space.u-no-margin
        li.p-inline-list__item.p-heading--four
          a.p-link--soft(href="https://plus.google.com/+Ubports")
            span.fa.fa-google-plus-official.fa-space.u-no-margin
        li.p-inline-list__item.p-heading--four
          a.p-link--soft(href="https://ubports.com/blog/1/feed")
            span.fa.fa-rss.fa-space.u-no-margin
        li.p-inline-list__item.p-heading--four
          a.p-link--soft(href="https://github.com/ubports/")
            span.fa.fa-github.fa-space.u-no-margin
        
