extends components/layout

block content
  .splash-banner
    .container
      .background-shadow
        h1.splash-text Ubuntu Touch
        h4(style="text-align: center; color: white") #[a(href='https://ubports.com', target='_blank', style='color: white') Provided by the UBports community]
        h3.text-center A simple and beautiful mobile operating system for everyone!
  .white
    .container
      include index/welcome
  .white
    .container
      include index/team
  .orange
    .container
      include index/installer
  .white
    .container
      .col-md-12.text-center
        h2.on-white-header What are you waiting for?
        a.button.btn.btn-primary.btn-xl(type="button", href="/install") Get Ubuntu Touch
