extends layout

block content
  .p-strip--image.is-light.is-deep.is-bordered(data-role='content', style="background-image: url('/img/intro-row.jpg');")
    .row
      .col-6.u-vertically-center
        .p-card--overlay
          h4 A simple and beautiful mobile operating system for everyone!
          p Ubuntu Touch is the touch-friendly mobile version of Ubuntu Linux. Originally designed and developed by Canonical, the operating system now lives on in the UBports community.
          p
            a.p-button--positive(href="/devices") Get Ubuntu Touch
            | &emsp;
            a(href="/contribute") Support our community

  include blocks/welcome
  include blocks/os-summary
  //include blocks/convergence-ready
  include blocks/community-driven
  include blocks/built-on-ubuntu
  include blocks/ubports-installer
  include blocks/links