extends components/layout

block content
  .devices-banner
    .container(data-role='content')
      .background-shadow
        include install/splash
  .white(style="margin-top: 0")
    .container
      include install/easy
  .white
    .container
      include install/install-on-your
  .orange
    .container
      include install/help
