doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='Ubuntu Touch, a simple and beautiful mobile operating system for everyone')
  meta(name='author', content='Marius Gripsgard, Jan Sprinz, Stefano Verzegnassi')
  title Ubuntu Touch
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  link(rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-1.6.1.min.css")
  link(rel="icon", type="image/png", href="/img/icon.png")
  // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body(ng-app='ubports', ng-controller='ctrl')
    header.p-navigation(id="navigation")
      .row
        .p-navigation__banner
          .p-navigation__logo
            a.p-navigation__link(href='/')
              img.p-navigation__image(src="/img/robot-t.png")
              | &emsp;Ubuntu Touch
          a.p-navigation__toggle--open(href="#navigation", title="menu")
            | Menu
          a.p-navigation__toggle--close(href="#navigation-closed", title="close menu")
            | Close menu
        nav.p-navigation__nav(role='menubar')
          span.u-off-screen
            a(href="#main-content") Jump to main content
          ul.p-navigation__links(role='menu')            
            li.p-navigation__link(role='menuitem')
              a(href='/') Home        
            li.p-navigation__link(role='menuitem')
              a(href='/apps') Features
            li.p-navigation__link(role='menuitem')
              a(href='devices') Devices
            li.p-navigation__link(role='menuitem')
              a(href='/contribute') Contribute
            li.p-navigation__link(role='menuitem')
              a.p-link--external(href='https://ubports.com') UBports    
            //li.p-navigation__link(role='menuitem')
              a.p-link--external(href='https://ubports.com/blog/latest-news-1') Blog
            li.p-navigation__link(role='menuitem')
              a.p-link--external(href='https://ubports.com/page/sponsors') Donate

    block content
    include footer
    script(src="https://use.fontawesome.com/fd65ace675.js")

