extends layout

block content
  .privacy-banner
    .container(data-role='content')
      include privacy/splash
  .orange(style="margin-top: 0")
    .container
      include privacy/intro
  .white
    .container
      include privacy/no-backdoors
