extends components/layout

block content
  .privacy-banner
    .container(data-role='content')
      .background-shadow
        .banner-text
          h1.splash-text.text-shadow(style="color: white;") Privacy
          h3.text-center.text-shadow(style="color: white;") Ubuntu touch values your privacy!
  .white
    .container
      include privacy/intro
  .gray
    .container
      include privacy/no-backdoors
  .white
    .container
      include privacy/independent
  .orange
    .container
      p.on-orange-text.item-center Compute like no one is watching - because now they can't!
