.row.align-items-center
  .col.col-md-6
    img.item-center.square-img.rounded(src="https://assets.ubuntu.com/v1/879c852e-pictogram-virtualisation.svg")
  .col.col-md-6
    h2.on-white-header
      | Independent
    p.on-white-text
      | Ubuntu Touch is not operated by a for-profit company that collects and sells your data. The #[a(href='https://ubports.com/foundation/ubports-foundation') UBports Foundation] that is currently being created under German law will be is a registered non-profit and it's focus on the public interest will be monitored by the foundation supervisory authority.
