.row
  .col.col-md-6
    img.item-center.wide-img.rounded(src="")
  .col.col-md-6
    h2.on-orange-header
      | Privacy Ensured
    p.on-orange-text
      |  Although Big Brother and others in the world may wish to spy on you and steal your personal data - don't worry. With Ubuntu Touch - the world's safest system that respects your privacy - they will have nothing to see. Ubuntu Touch keeps you secure because everything unsafe is blocked by default; the only way that the peepers and creepers can get a peek is if you invite them. We've got your back.
