.row.align-items-center
  h2.on-white-header.item-center
    | Privacy Ensured
  p.on-white-text
    | Big Brother may wish to steal your personal data and spy on you - don't worry. With Ubuntu Touch they will have nothing to see!
