.row
  .col
    h2.on-white-header
      | No Backdoors
    p.on-white-text
      | Ubuntu is an open source software operating system. This means that everyone has access to the source code and change, distribute or copy it. That makes it impossible to install software backdoors.
    p.on-white-text
      | The Ubuntu Touch OS does not depend on the cloud and is also virtually free of viruses and other malware that can extract your data..
  .col
    img.item-center.wide-img.rounded.shadow(src="")
