.row.align-items-center
  .col
    h2.on-orange-header
      | No Backdoors
    p.on-orange-text
      | Ubuntu is not only the most popular GNU/Linux distribution and the overall third-most deployed desktop operating system, it's also commonly used for critical infrastructure like servers and IoT. Since it's open-source, every user has access to the source code and can help find and remove security vulnerabilities.
  .col
    img.item-center.square-img(src="https://assets.ubuntu.com/v1/16e21217-pictogram-safety-orange.svg")
