.p-strip--light
  .row
    h2 ...and so more!

    ul.p-matrix.u-clearfix
      li.p-matrix__item
        img.p-matrix__img(src="https://uappexplorer.com/api/icon/d0d44fbbfc125f823412bda9f0669f9a/navigator.costales.png", alt="icon")
        .p-matrix__content
          h3-p-matrix__title
            a.p-matrix__link(href="https://uappexplorer.com/app/navigator.costales")
              | uNav
          p.p-matrix__desc
            | Map viewer & turn-by-turn GPS navigator for car, bike & walking

      li.p-matrix__item
        img.p-matrix__img(src="https://uappexplorer.com/api/icon/264df4828027a18d5c88bc492decc505/com.ubuntu.developer.mzanetti.machines-vs-machines.png", alt="icon")
        .p-matrix__content
          h3-p-matrix__title
            a.p-matrix__link(href="https://uappexplorer.com/app/com.ubuntu.developer.mzanetti.machines-vs-machines")
              | Machines vs. Machines
          p.p-matrix__desc
            | A classic tower defense game

      li.p-matrix__item
        img.p-matrix__img(src="https://uappexplorer.com/api/icon/2cf12625d1045e14a9a4729a76516bfd/com.ubuntu.telegram.png", alt="icon")
        .p-matrix__content
          h3-p-matrix__title
            a.p-matrix__link(href="https://uappexplorer.com/app/com.ubuntu.telegram")
              | Telegram
          p.p-matrix__desc
            | A Telegram client for Ubuntu Touch

      li.p-matrix__item
        img.p-matrix__img(src="https://uappexplorer.com/api/icon/d2ee5815ab28312c280ca783c3bfd14b/com.ubuntu.terminal.png", alt="icon")
        .p-matrix__content
          h3-p-matrix__title
            a.p-matrix__link(href="https://uappexplorer.com/app/com.ubuntu.terminal")
              | Terminal
          p.p-matrix__desc
            | A fully featured GNU/Linux terminal emulator for Ubuntu Touch

      li.p-matrix__item
        img.p-matrix__img(src="https://uappexplorer.com/api/icon/9195cab279c57664ef57c9d75cafdf65/instantfx.sverzegnassi.png", alt="icon")
        .p-matrix__content
          h3-p-matrix__title
            a.p-matrix__link(href="https://uappexplorer.com/app/instantfx.sverzegnassi")
              | InstantFX
          p.p-matrix__desc
            | Photo editing app for Ubuntu devices

      li.p-matrix__item
        img.p-matrix__img(src="https://uappexplorer.com/api/icon/b35119bcec33058049db650afd1e43c7/com.mikeasoft.podbird.png", alt="icon")
        .p-matrix__content
          h3-p-matrix__title
            a.p-matrix__link(href="https://uappexplorer.com/app/com.mikeasoft.podbird")
              | Podbird
          p.p-matrix__desc
            | Chirpiest Podcast Manager for Ubuntu

      li.p-matrix__item
        img.p-matrix__img(src="https://uappexplorer.com/api/icon/98bd756890ce913481877e5ae4e98855/balls.briketa.png", alt="icon")
        .p-matrix__content
          h3-p-matrix__title
            a.p-matrix__link(href="https://uappexplorer.com/app/balls.briketa")
              | Balls
          p.p-matrix__desc
            | A silly game with balls

      li.p-matrix__item
        img.p-matrix__img(src="https://uappexplorer.com/api/icon/bd3047274d07ccb80bfd6ff107b14fad/com.ubuntu.filemanager.png", alt="icon")
        .p-matrix__content
          h3-p-matrix__title
            a.p-matrix__link(href="https://uappexplorer.com/app/com.ubuntu.filemanager")
              | File Manager
          p.p-matrix__desc
            | A fully featured file manager for Ubuntu Touch

      li.p-matrix__item
        img.p-matrix__img(src="https://uappexplorer.com/api/icon/fda738d16d968f36a72bc1448a0c1734/umatriks.larreamikel.png", alt="icon")
        .p-matrix__content
          h3-p-matrix__title
            a.p-matrix__link(href="https://uappexplorer.com/app/umatriks.larreamikel")
              | uMatriks
          p.p-matrix__desc
            | A Matrix protocol client for Ubuntu Touch

    p.u-align--right
      a.p-link--external(href="https://uappexplorer.com", target='_blank')
        | Discover more apps on OpenStore
