.p-strip--light.is-bordered
  .row
    .u-equal-height
      .col-6
        h2 From the community for the community
        p Ubuntu Touch and the UBports Foundation are financed by many generous donations via #[a(href='https://paypal.me/ubports', target='_blank') PayPal], #[a(href='https://patreon.com/ubports', target='_blank') Patreon] and #[a(href='https://ubports.com/sponsors', target='_blank') Bitcoin], as well as #[a(href='https://ubports.com/sponsors', target='_blank') these awesome sponsors]. This funding has allowed us to keep the lights on and hire developers for some of the work, but we would not be anywhere without our great #[a(href='/contribute') community contributors].
        p
          | Tasks like #[a(href='https://translate.ubports.com', target='_blank') localization], #[a(href='https://github.com/ubports/ubuntu-touch/issues', target='_blank') quality assurance] and even #[a(href='https://github.com/ubports', target='_blank') development] are handled to a surprising extent by volunteers.
          br
          | Ubuntu Touch is built by the community for the community!
        //p
          ul.u-no-margin--left.u-no-padding--left(style="list-style-type: none;")
            li
              a(href="/contribute", target='_blank') Fork a core app on GitHub or create a new app&nbsp;›
            li
              a(href="/contribute", target='_blank') Help with Ubuntu Touch translations&nbsp;›
            li
              a(href="/contribute", target='_blank') Join the UBports Foundation&nbsp;›
        p
          a.p-button--positive(href="/contribute") Discover how you can help us

      .col-1
      .col-5.u-vertically-center
        img(src="/img/team.jpeg")
