.p-strip--light.is-bordered(style="background-color: #eaeaea", id="contacts")
  .row
    .u-equal-height
      .col-7
        h4 Donate
        p Substain the incredible work of our community!
        p 
          a.p-button--positive(href="https://ubports.com/page/sponsors", target='_blank') Donate now

      .col-5
        h4 Contacts
        p Need further information? Don't worry!
        p
          ul.u-no-margin--left.u-no-padding--left(style="list-style-type: none;")
            li
              a(href="https://kiwiirc.com/client/irc.freenode.net/ubports", target='_blank') #ubports on freenode.net
            li
              a(href="/telegram", target='_blank') Telegram
            li
              a(href="https://forum.ubports.com", target='_blank') Forum
