.p-strip--light.is-bordered
  .row
    h2 Other focus groups

    .u-equal-height
      .col-8.p-divider__block    
        p 
          ul.p-list--divided
            li.p-list__item.is-ticked Language & Translation
              br
              small Help us translating Ubuntu Touch in your language
            li.p-list__item.is-ticked Documentation
              br
              small The app developers build, manage, install and test Ubuntu Touch applications.
            li.p-list__item.is-ticked Quality Assurance & Testing
              br
              small If you like to live on the edge on 'devel' versions, you can help us to ensure the quality of our software
            li.p-list__item.is-ticked Graphics & UX Design
              br
              small Our mission is to provide a good user experience to our users. Ensure you help won't be missed.
        p
          a.p-button--neutral(href="#contacts") Get in touch with us
          | &emsp;
          a(href="https://docs.ubports.com", target='_blank') Read the docs

      .col-4.p-divider__block
        h5 References
        p 
          ul.u-no-margin--left.u-no-padding--left(style="list-style-type: none;")
            li
              a(href="https://translate.ubports.com/", target='_blank') Translate on UBports Weblate
            li
              a(href="https://github.com/ubports/docs.ubports.com", target='_blank') Contribute to our documentation
            li
              a(href="https://github.com/ubports/ubuntu-touch/issues", target='_blank') Ubuntu Touch issues on GitHub
