.p-strip--light.is-bordered
  .row
    h2 Development
    
    .u-equal-height
      .col-8.p-divider__block      
        p 
          ul.p-list--divided
            li.p-list__item.is-ticked Core app Development
              br
              small The app developers build, manage, install and test Ubuntu Touch applications.
            li.p-list__item.is-ticked OS Development
              br
              small All developers and programmers work hard to enhance the user experience and security of Ubuntu Touch OS.
            li.p-list__item.is-ticked Low Level Development
              br
              small We are working hard towards a common base for non-android mobile operating systems. In corporation with the Halium project, which is still in an early phase. 
        p
          a.p-button--neutral(href="#contacts") Get in touch with us
          | &emsp;
          a(href="https://docs.ubports.com", target='_blank') Read the docs

      .col-4.p-divider__block
        h5 References
        p 
          ul.u-no-margin--left.u-no-padding--left(style="list-style-type: none;")
            li
              a(href="https://docs.ubports.com", target='_blank') Documentation
            li
              a(href="https://github.com/ubports", target='_blank') Fork core apps on GitHub
            li
              a(href="https://mimecar.gitbooks.io/ubuntu-touch-programming-course/en/", target='_blank') Ubuntu Touch Programming Course
            li
              a(href="https://github.com/halium", target='_blank') Port Ubuntu Touch on a new device
