.p-strip--light.is-bordered
  .row
    h2 Core devices
    p 
      | Core Devices are the devices that will receive all the new features, critical security-updates and bug-fixes from UBports.
      br
      | These devices will soon be rebased on Ubuntu 16.04 LTS. Until then, the existing legacy image (based on 15.04) can be installed.  

    .u-equal-height
      .col-4
        .p-media-object
          img.p-media-object__image(src="https://ubports.com/web/image/2884", alt="icon")
          .p-media-object__details.u-vertically-center
            h4 Fairphone 2

      .col-4
        .p-media-object
            img.p-media-object__image(src="https://ubports.com/web/image/2451", alt="icon")
            .p-media-object__details.u-vertically-center
              h4 Nexus 5

      .col-4
        .p-media-object
          img.p-media-object__image(src="https://ubports.com/web/image/2848", alt="icon")
          .p-media-object__details.u-vertically-center
            h4 OnePlus One

    .u-equal-height
      .col-4
        .p-media-object
          img.p-media-object__image(src="https://ubports.com/web/image/2887", alt="icon")
          .p-media-object__details.u-vertically-center
            h4 Aquaris M10 FHD
