.p-strip--light.is-bordered
  .row
    .u-equal-height
      .col-4.p-divider__block
        h4 Community
        p
          ul.u-no-margin--left.u-no-padding--left(style="list-style-type: none;")
            li
              a(href="https://ubports.com/blog/the-audiocasts-3", target='_blank') Audiocasts
            li
              a(href="https://ubports.com/blog/community-updates-5", target='_blank') Community Updates
            li
              a(href="https://forum.ubports.com", target='_blank') Contributors' Blogs
            li
              a(href="https://ubports.com/blog/latest-news-1", target='_blank') UBports Blog
            li
              a(href="https://forum.ubports.com", target='_blank') UBports Forum
      
      .col-4.p-divider__block
        h4 Links
        p 
          ul.u-no-margin--left.u-no-padding--left(style="list-style-type: none;")
            li
              a(href="https://docs.ubports.com", target='_blank') Docs
            li
              a(href="/contribute#contacts", target='_blank') Donate
            li
              a(href="https://ubports.com/page/frequently-asked-questions", target='_blank') FAQ
            li
              a(href="https://github.com/ubports/", target='_blank') GitHub
            li
              a(href="https://ubports.com", target='_blank') UBports Homepage

      .col-4.p-divider__block
        h4 Contacts
        p
          ul.u-no-margin--left.u-no-padding--left(style="list-style-type: none;")
            li
              a(href="https://plus.google.com/+Ubports", target='_blank') Google Plus
            li
              a(href="/telegram", target='_blank') Telegram Supergroup
            li
              a(href="https://twitter.com/ubports", target='_blank') Twitter
            li
              a(href="https://ubports.com/page/contactus", target='_blank') UBports
            li
              a(href="https://kiwiirc.com/client/irc.freenode.net/ubports", target='_blank') #ubports on freenode.net
