.p-strip--light.is-bordered
  .row
    .col-6
      h2 Yet more to discover
      p With the help of a very active community, the number of third party apps available on Ubuntu Touch is growing day by day.
      p
        ul.u-no-margin--left.u-no-padding--left(style="list-style-type: none;")
          li
            | Find more apps on 
            a.p-link--external(href="https://uappexplorer.com", target='_blank') OpenStore
          li
            | Read our 
            a.p-link--external(href="https://docs.ubports.com", target='_blank') documentation
            | &nbsp;and develop a new app