.p-strip--light.is-bordered(style="background-color: #eaeaea")
  .row
    .u-equal-height
      .col-4.p-divider__block
        h4 Elegance in design
        p A completely different approach to using your smartphone or tablet. All your apps, tools and settings becomes accessible with a swipe from the edges of the screen. It looks great and feels smooth.
      .col-4.p-divider__block
        h4 A real desktop experience
        p Your phone can do everything a traditional computer can. Running on GNU/Linux, you can install exactly the same software you use on your desktop or laptop.
      .col-4.p-divider__block
        h4 Ready for the future with convergence
        p Plug your device to a monitor, and it will expand into a windowed desktop, where you can be just as productive as on a traditional PC.
        