.p-strip--light.is-bordered
  .row
    .u-equal-height
      .col-8.p-divider__block
        h3 UBports Foundation
        p Apply to become a UBports Foundation Member!
        ul.p-list--divided
          li.p-list__item.is-ticked Help and promote the collaborative software development of Ubuntu Touch
          li.p-list__item.is-ticked Coordinate and organize the collaborative work on Ubuntu Touch
          li.p-list__item.is-ticked Assist the community in defending interests and sustainability of the project
          li.p-list__item.is-ticked Promote the use of the Ubuntu Touch as solution for mobile devices
          li.p-list__item.is-ticked Facilitate synergies, collaborations and fund raising efforts
          li.p-list__item.is-ticked Actively collaborate on the definition of the roadmaps for the software
        a.p-button--neutral(href="#") Apply now!
        | &emsp;
        a(href="https://ubports.com/page/foundation") Read our statute
      .col-4.u-vertically-center.u-align--center.u-hide--small.p-divider__block
        img(src="https://ubports.com/web/binary/company_logo?db=odoo&company=1")
    