.p-strip--dark.is-bordered(style={background: '#E95420'}, id="installer")
  .row
    .u-equal-height
      .col-5
        img(src="/img/ubpi.jpg")
      .col-1
      .col-6
        h2 UBports Installer
        p
          | You thought installing Ubuntu Touch was a painful process?
          br
          | Well you are wrong! With the UBports Installer, setting up Ubuntu Touch has never been easier! Just follow the on-screen instructions, sit back and watch your PC do all the work!
        p
          a.p-button--neutral(href="/install")
            span.fa.fa-linux.fa-space.u-no-margin
            | &nbsp;
            span.fa.fa-apple.fa-space.u-no-margin
            | &nbsp;
            span.fa.fa-windows.fa-space.u-no-margin
            | &emsp;Download
