.p-strip--light.is-bordered
  .row
    .col-6
      h2 What is Ubuntu Touch?
      p Ubuntu Touch introduces a new way to enjoy content and services on smartphones, without relying on traditional apps.
      p
        | Due to the convergence principle you don't have to save documents in the cloud when you want to work on them at work and at home.
        br
        | Ubuntu is an open-source OS which guarantees the privacy of its user. It doesn't depend on the cloud and Google/Apple services.
      p
        ul.u-no-margin--left.u-no-padding--left(style="list-style-type: none;")
          li
            a.p-link--external(href="https://ubports.com/page/fairphone2-home", target='_blank') A fair, ethical, and sustainable operative system
          li
            a(href="/apps") A world of endless possibilities&nbsp;›
    .col-1
    .col-5
      .u-embedded-media
        iframe.u-embedded-media__element(width="854" height="480" src="https://www.youtube.com/embed/ekiuY5b-LOA" frameborder="0" allowfullscreen)
