.row.align-items-center
  .col
    img.item-center.wide-img.rounded.shadow(src="/img/compatibility.png")
  .col
    h2.on-orange-header
      | Compatibility
    p.on-orange-text
      | We're working towards improved support for X11 and Wayland, so you can have traditional GNU/Linux apps like Libreoffice, Firefox and Gimp always in your pocket. In the future, new cross-plattform packaging formats like snap will provide seamless integration.
