.row.align-items-center
  .col.col-md-6
    h2.on-white-header
      | Convergence
    p.on-white-text
      | Your phone is not just a phone, it can do everything a traditional computer can. And since it's Ubuntu, you can even run the same software you use on your desktop or laptop. If you need a bigger screen, you can simply connect your device to a monitor or TV, and it will expand into a windowed desktop, where you can be just as productive as on a traditional PC.
  .col.col-md-6
    img.item-center.wide-img.rounded.shadow(src="/img/next.png")
