.row.align-items-center
  .col
    img.item-center.wide-img(src="/img/tablet-keyboard.jpeg")
  .col
    h2.on-white-header
      | Unleash your Productivity
    p.on-white-text
      | Connect a bluetooth keyboard and mouse to converge on the go!
