.row.align-items-center
  .col
    h2.on-white-header
      | Responsiveness
    p.on-white-text
      | Native Ubuntu Touch #[a(href='/apps') applications] are responsive and adapt to every screen-size. Be it a phone, a tablet or a wide-screen monitor, every app will look great!
  .col
    img.item-center.square-img.rounded.shadow(src="/img/convergemeplease.gif")
