br
.row.footer-block.item-center
  .col-sm-4.text-center
    p.footer-text-header Supported by
    a(href="https://ubports.com")
      img.footer-img(src="/img/UBports-Logo-Trans.png")
  .col-sm-4.block.text-center
    p.footer-text-header Donate
    a.footer-link(href='https://liberapay.com/UBports/') Donate with Liberapay
    a.footer-link(href='https://www.paypal.me/ubports') Donate with PayPal
    a.footer-link(href='https://ubports.com/foundation/sponsors') Donate with Bitcoin
    a.footer-link(href='https://www.patreon.com/ubports') Become a Patron
  .col-sm-4.block.text-center
    p.footer-text-header Contact
    a.footer-link(href='https://ubports.com/contact-us') Contact Form
    a.footer-link(href='https://t.me/ubports') @Telegram
    a.footer-link(href='https://ubports.com/apply-for-membership-form') Membership Application
.footer-block
  p.text-center
    | #[a(href="https://github.com/ubports/ubuntu-touch.io") Edit this page] or #[a(href="https://github.com/ubports/ubuntu-touch.io/issues") report a bug]
  p.text-center
    | This site is maintained by The #[a(href='https://ubports.com/page/website.aboutus') UBports Team] and is not an any way endorsed by or affiliated with #[a(href='http://ubuntu.com/') Ubuntu]
    | or #[a(href='http://www.canonical.com/')] Canonical.
    br
    | #[a(href='http://ubuntu.com/') Ubuntu] and #[a(href='http://www.canonical.com/') Canonical] are registered trademarks of #[a(href='http://www.canonical.com/') Canonical Ltd.]
