doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='Ubuntu Touch, a simple and beautiful mobile operating system for everyone')
  meta(name='author', content='Marius Gripsgard, Jan Sprinz, Stefano Verzegnassi, Dalton Durst')
  title Ubuntu Touch
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,700', rel='stylesheet', type='text/css')
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  link(href='/css/ubports.css?v=' + deployVersion, rel='stylesheet')
  link(rel="icon", type="image/png", href="/img/icon.png")
  // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body(ng-app='ubports', ng-controller='ctrl')
    nav.navbar.unavbar.navbar-light.bg-white.navbar-expand-lg.justify-content-between.fixed-top
      .container
        a.navbar-brand(href="/")
          .navbar-brand-button
            img.navbar-brand-image(src="/img/robot-t.png")
          | Ubuntu Touch
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse.justify-content-end.bg-white(id="navbar")
            ul.navbar-nav
              li.nav-item
                a.nav-link(href='/apps') Apps
              li.nav-item
                a.nav-link(href='/features') Features
              li.nav-item
                a.nav-link(href='/install') Get Ubuntu Touch
              li.nav-item.dropdown
                a#navbarDropdownMenuLin.nav-link.dropdown-toggle(href='/devices', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Devices
                .dropdown-menu(aria-labelledby='navbarDropdownMenuLin')
                  a.dropdown-item(href='/device/FP2') Fairphone 2
                  a.dropdown-item(href='/device/bacon') OnePlus One
                  a.dropdown-item(href='/device/hammerhead') Nexus 5
                  a.dropdown-item(href='/device/frieza') Bq m10 FHD
                  a.dropdown-item(href='/devices') More...
              li.nav-item
                a.nav-link(href='https://ubports.com') UBports Foundation
              li.nav-item
                a.nav-link(href='https://ubports.com/donate') Donate

    .content
      block content
      .light-grey
        .container
          include footer
    script(src="https://use.fontawesome.com/releases/v5.0.4/js/all.js")
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
